1_data_generation_and_controller/0_env_setup/2dlinksim
*.pyc

# add .venv to .gitignore
2_GNN/.venv/
data.venv/
src/__pycache__
1_data_generation_and_controller/4_data/Documentation
1_data_generation_and_controller/0_2dlinksim
.venv/
#ignore pyc
#ignore pycache
__pycache__/
# ignore venv

