numpy==1.24.1
scipy==1.10.1
matplotlib==3.7.5
networkx==3.0
pillow==10.2.0
requests==2.32.3
rich==14.0.0
Jinja2==3.1.4
MarkupSafe==2.1.5
pyyaml>=6.0.1
typeguard>=2.13.3
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.1.0+cpu
torchvision==0.16.0+cpu
torchaudio==2.1.0+cpu
torch-geometric==2.6.1
--find-links https://data.pyg.org/whl/torch-2.1.0+cpu.html
torch-scatter==2.1.2+pt21cpu
torch-sparse==0.6.18+pt21cpu
torch-cluster==1.6.3+pt21cpu
torch-spline-conv==1.2.2+pt21cpu